<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cars</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <%if(danger!=""){%>
  <div class="alert alert-danger" role="alert">
    <strong>Result:</strong><%= danger%>
  </div>
  <%}%>
  <%if(success!=""){%>
  <div class="alert alert-success" role="alert">
    <strong>Result:</strong><%= success%>
  </div>
  <%}%>
<div class="container mt-5">
<form action="/cars" method="POST" class="form-inline" id="myForm" >
  
   <div>
    <input
        type="brand text"
        name="brand"
        class="form-select mb-2 mr-sm-2 brand"
        placeholder="select brand"
        aria-describedby="brandHelp"
        autocomplete="off"
        list="brands"
        required
      />
      <datalist id="brands">
        <%let arr=[];%> <%for(let i=0;i< cars.length;i++){%>
        <%if(!arr.includes(cars[i].brand)){%> <%arr.push(cars[i].brand);%>
        <%}}%> <% for(var i = 0; i < arr.length; i++) {%>
        <option><%= arr[i] %></option>
        <% } %>
      </datalist>

    
   
    <input
        type="model"
        name="model"
        class="form-select mb-2 mr-sm-2 model"
        placeholder="select model"
        aria-describedby="modelHelp"
        list="models"
        autocomplete="off"
      />
      <datalist id="models">
        <% arr=[];%> <%for(let i=0;i< cars.length;i++){%>
        <%if(!arr.includes(cars[i].model)){%> <%arr.push(cars[i].model);%>
        <%}}%> <% for(var i = 0; i < arr.length; i++) {%>
        <option><%= arr[i] %></option>
        <% } %>
      </datalist>

      
      <input
        type="variant"
        name="variant"
        class="form-select mb-2 mr-sm-2 variant"
        placeholder="select variant"
        aria-describedby="variantHelp"
        list="variants"
        autocomplete="off"
      />

      <datalist id="variants">
        <% arr=[];%> <%for(let i=0;i< cars.length;i++){%>
        <%if(!arr.includes(cars[i].variant)){%> <%arr.push(cars[i].variant);%>
        <%}}%> <% for(var i = 0; i < arr.length; i++) {%>
        <option><%= arr[i] %></option>
        <% } %>
      </datalist>
       
    <button type="submit" id="submit" class="btn btn-success mb-2 " formaction="/search">search</button>
    </div>
    <div class="container">
      <button type="submit" id="update-button1" class="btn btn-primary" formaction="/variant">add varinat</button>
      <button type="submit" id="update-button2" class="btn btn-primary" formaction="/model">add model</button>
      <button type="submit" id="update-button3" class="btn btn-primary" formaction="/brand">add brand</button>
    </div>
    
  </form>
</br>
  <section class="cars" >
    <ul  >
      <!-- Loop through quotes -->
      <% for(var i = 0; i < cars.length; i++) {%>
      <li class="car">
        <!-- Output name from the iterated quote object -->
        <span><%= cars[i].brand %></span>: <span><%= cars[i].model %></span>:
        <!-- Output quote from the iterated quote object -->
        <span><%= cars[i].variant %></span>
      </li>
      <% } %>
    </ul>
</section>
<section class="addedCar ">

</section>
    <script src="/main.js"></script>
  </body>
</html>
